@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    margin: 0;
    padding: 0;
    background: url(../image/pexels-james-wheeler-414612.jpg);
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}
h1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    width: 100%;
    color: #fff;
    font-size: 90px;
    font-weight: 700;
    text-align: center;
}